.App {
  text-align: center;
}


button {
  background-color: #1078a1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px 10px 10px 10px;
}
.Nav{
  background-color: coral;
  color:white;
  padding:15px;
}
img{
  height:auto;
  width:auto;
}
a{
  color:white;
  text-decoration: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
 
  img{
    border: 1px solid #ddd; 
    border-radius: 4px;  
    padding: 5px; 
    width: 250px;

  }
